<!--The content below is only a placeholder and can be replaced.-->

<ngx-masonry-grid [model]="listMasonry" [queries]="queries" >
  <ng-container *mgItem="let src = src;let state=$$state" >
      <div class="itemElement" [@flyInOut] >
        <img [src]="src"/>
      </div>
  </ng-container>
</ngx-masonry-grid>
<button (click)="aggiungi()">aggiungi</button>
<button (click)="appendi()">appendi</button>
<button (click)="modifica()">modifica</button>
<button (click)="rimuovi()">rimuovi</button>
<button (click)="muovi()">muovi</button>
